@page "/talkingorstuff"

<h2>Talking or stuff</h2>

<h4>Created by <a href="https://odayaka.me">Odayaka</a></h4>
<h2>Take the form</h2>
<h2 class="float-right">Join here!</h2>
<br>
<br>
<iframe width="400px" height="480px"
    src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAADOW8j5UQjVZM001SEVMMzJNRlFNN1lQUzkwUEZQVC4u&embed=true"
    frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh"
    allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
<iframe src="https://discordapp.com/widget?id=831191458106966016&theme=dark" width="400" height="480"
    allowtransparency="true" frameborder="0"
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" class="float-right"></iframe>